<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Unhandled Title!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!--global styles-->
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}" />
        <!--block styles-->
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        <!--block JS-->
        {% block javascripts %}{% endblock %}

        <!--favicon-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>

    <script>
        window.setInterval(function() {
            var url = Routing.generate('itaw_forum_login_check', {username: '{{app.user.username}}'});
            xmlReq = new XMLHttpRequest();
            xmlReq.open("GET", url, true);
            xmlReq.send();
        }, 30000);
    </script>

</html>