{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ path('itaw_template_css', {templateName: template.identifier, fileName: 'bootstrap.min.css'}) }}">
<link rel="stylesheet" href="{{ path('itaw_template_css', {templateName: template.identifier, fileName: 'app.css'}) }}">
{% endblock %}

{% block javascripts %}
<script src="{{ path('itaw_template_js', {templateName: template.identifier, fileName: 'jquery-2.0.3.min.js'}) }}"></script>
<script src="{{ path('itaw_template_js', {templateName: template.identifier, fileName: 'bootstrap.min.js'}) }}"></script>
<script src="{{ path('itaw_template_js', {templateName: template.identifier, fileName: 'app.js'}) }}"></script>
{% endblock %}

{% block body %}

<span id="current-page" class="hidden">{% block currentPage %}{% endblock %}</span>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">   
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('itaw_forum_homepage') }}">{{forum_title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="nl-forums" class="nav-link"><a href="{{ path('itaw_forum_forums') }}"><span class="glyphicon glyphicon-bullhorn"></span> Forum</a></li>
                <li id="nl-user" class="nav-link"><a href="#"><span class="glyphicon glyphicon-user"></span> Mitglieder</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-envelope"></span> Nachricht <b class="caret"></b></a>
                    <ul id="nl-messages" class="dropdown-menu nav-link">
                        <li><a href="{{ path('itaw_message_inbox') }}"><span class="glyphicon glyphicon-inbox"></span> Eingang</a></li>
                        <li><a href="{{ path('itaw_message_send') }}"><span class="glyphicon glyphicon-certificate"></span> Neue Nachricht</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{app.user.username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('itaw_user_profile', {username: app.user.username}) }}">Profil</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>

<div class="container">
    <div class="col-lg-12 page">
        {% block content %}{% endblock %}
        <br>
        <br>
        <hr>
        {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-sm btn-default" href="{{ path('itaw_admin_homepage') }}">Administration</a>{% endif %}
    </div>
</div>

{% endblock %}