{% extends "itawTemplateBundle:Default:layout.html.twig" %}

{% block currentPage %}forums{% endblock %}
{% block title %}{{forum_title}} &middot; {{forum.title}} &middot; {{thread.title}}{% endblock %}

{% block content %}

<ol class="breadcrumb">
    {% for b in forum.breadcrumbs %}
    <li><a href="{{ path('itaw_forum_show_forum', {forum_slug: b.slug}) }}">{{b.title}}</a></li>
    {% endfor %}
    <li><a href="{{ path('itaw_forum_show_forum', {forum_slug: forum.slug}) }}">{{forum.title}}</a></li>
    <li class="active">{{thread.title}}</li>
</ol>

<a class="btn btn-primary btn-sm" href="{{ path('itaw_forum_create_post', {forum_slug: forum.slug, thread_slug: thread.slug}) }}"><span class="glyphicon glyphicon-comment"></span> Antworten</a>
<br>
<br>

{% for post in thread.posts %}
<div id="p{{post.id}}" class="panel panel-default">
    <div class="panel-heading"><a href="#p{{post.id}}"><span class="glyphicon glyphicon-link"></span> {{thread.title}}</a></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 post-postspace">
                <span class="post-info post-from"><span class="glyphicon glyphicon-comment"></span> von <a href="#">{{post.user.username}}</a></span>
                <span class="post-info post-date"><span class="glyphicon glyphicon-calendar"></span> am {{post.creationDate|date('d.m.Y G:i')}}</span>
                <br>
                <br>
                {{post.text}}
            </div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs post-userspace">
                <span class="post-username"><a href="#">{{post.user.username}}</a></span><br>
                <img class="img-thumbnail" src="http://placehold.it/200x200"><br>
                <br>
                <span class="post-userspace-info">Beiträge: {{post.user.posts|length}}</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<hr>

<a class="btn btn-primary btn-sm" href="{{ path('itaw_forum_create_post', {forum_slug: forum.slug, thread_slug: thread.slug}) }}"><span class="glyphicon glyphicon-comment"></span> Antworten</a>

{% endblock %}